<section class="intro">
	<div class="container">
		<div class="intro__img">
			<img src="{{ intro.img }}" alt="{{ intro.img-alt }}">
		</div>

		<div class="intro__desc">
			<h1>{{ intro.desc-title }}</h1>
			<p>{{ intro.desc-body }}</p>
			<button>{{ intro.desc-button }}</button>
		</div>
	</div>
</section>
