<section class="stay-productive">
	<div class="container">
		<div class="stay-productive__holder">
			<div class="stay-productive__image">
				<img src="{{ stay-productive.img }}" alt="{{ stay-productive.img-desc }}">
			</div>
			<div class="stay-productive__desc">
				<h2>{{{ stay-productive.title }}}</h2>
				<p>{{{ stay-productive.body }}}</p>
				<a href="{{ stay-productive.link }}">{{ stay-productive.link-text }}</a>
			</div>
		</div>
	</div>
</section>
